.overlay {
    position: fixed;
    top: 100px;
    left: 600px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #3b82f6;
    border-radius: 10px;
}

.dailog {
    background: white;
    padding: 16px;
    border-radius: 8px;
    min-width: 280px;
}

button {
    padding: 12px 20px;
    margin-right: 16px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 16px;
}